* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: #eee;
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.menu {
    width: 100%;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    justify-content: center;
}

.menu ul li {
    padding: 5px 10px;
    transition: .2s;
}

.menu ul li:hover {
    border-radius: 10px;
    background-color: #ddd;
}

.menu ul li:active {
    background-color: #ccc;
}

.carousel {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    border-radius: 20px;
    margin: 10px;
    width: 200px;
    background-color: white;
    box-shadow: 0 3px 3px rgb(219, 219, 219);
}

img {
    max-width: 200px;
    border-radius: 10px 10px 0 0;
}

.nome {
    margin: 0 20px;
}

.preco {
    font-size: 30px;
    margin: 0 20px 20px;
}